* {
  margin: 0;
}
html, body {
  height: 100%;
  font-size: 12px;
}

a{
	color:#fff;
}
a:hover{
	color:#10c9c3;
}

p{
		color:#fff;
}

.all-footer{
	width: 100%;
		background-color:#191919;

}

.footer{
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
	padding-bottom: 50px;
	color:#fff;

/*	flex-basis: auto;*/
}


li {
list-style-type: none; /* Убираем маркеры */
	hover: ;
/*flex-grow: 2;*/
}


.social-footer2{
		display: flex;
}