@media(max-width: 1199px){
	html{
		font-size: 8px;
	}

}

@media(max-width: 991px){
	html{
		font-size: 20px;
	}
		/*.visible-lg{
		display: none;
	}
	.m-menu-link{
		display:block;
	}*/
	.achievements{
		flex-direction: column;
	line-height: 30px;
	}

	.container-2{
			display:flex;
		/*flex-wrap: wrap;*/
	flex-direction: row;
	width: 100%;
	}
	.container-3{
		display:flex;
		flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	}

	}
	.more{
background-color: #fff;
	}
	.more_img{
		background-color: #fff;
	}
	.services{

	}
	.services_img{

	}
.services_txt{
		margin-bottom: 50px;
	}
}
