@media(max-width: 1199px){
	html{
		font-size: 20px;
	}
}
@media(max-width: 991px){
	html{
		font-size: 20px;
	}
.main{
margin-bottom: -300px;
}
.achievements{
padding-top: 50px;
padding-bottom: 50px;
}
.icons_label{
	padding-top:20px;
	padding-bottom:20px;
	}

.skills{
margin-top: -100px;
}
	.container-2{
			display:flex;
		/*flex-wrap: wrap;*/
	flex-direction: row;
	width: 100%;
	}
	.container-3{
		display:flex;
		flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	}

	.more{
background-color: #fff;
	}
	.more_img{
		background-color: #fff;
	}
	.services{

	}
	.services_img{

	}
.services_txt{
		margin-bottom: 50px;
	}
	.skills{
		background: #fff;
	}
}
	