/*Font family*/
@font-face {
font-family: 'Montserrat Medium';
src: url("../fonts/Montserrat-Medium.ttf")format('truetype'),
url("../fonts/Montserrat-Medium.woff")format('woff'),
url("../fonts/Montserrat-Medium.eot");
font-weight:medium;
font-style: normal;
}
@font-face {
font-family: 'Nunito Sans Regular';
src: url("../fonts/NunitoSans-Regular.ttf")format('truetype'),
url("../fonts/NunitoSans-Regular.woff")format('woff'),
url("../fonts/NunitoSans-Regular.eot");
}

@black:#191919;
@blue:#10c9c3;
@white:#ffffff;
@gray:#F5F5F5;
@gray_text:#787878;


.mont(){
font-family: 'Montserrat Medium';
}
.nunito(){
font-family: 'Nunito Sans Regular';
}

.main{
	background: url(../img/01.jpg) right no-repeat;
	background-size: 1800px 1300px;
}
h1,h2{
	color:@black;
	.mont();
}
p{
	color:@gray_text;
	.nunito()
}

.main-txt{
	margin-top: 150px;
	padding-bottom: 400px;
	font-size: 18px;

}
.about_us{
	padding-top:10px;
	.nunito();

}
.main-btn{
	margin-top: 45px;
	padding: 15px 40px;
	background-color: @blue;
	color: @white;
	border: none;
}

.about{
	padding-top: 100px;
	padding-bottom:100px;
	text-align: center;
	background-color:@white;

&_text{
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 18px;
		}
}
.skills{
	background:url(../img/03.jpg) 100% 100% no-repeat;
	padding-top: 100px;
	padding-bottom:100px;
&_name{
	margin-top: 40px;
	font-size: 14px;
}
}

.achievements{
	padding-top:70px;
	width: 100%;
	background-color:@blue;
}

.icons_label{
	padding:10px 0px 70px 10px;
	font-size: 12px;
	.mont()

}

.container-2{
		display:flex;
		flex-wrap: wrap;
	flex-direction: row;
}
.container-3{
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.box-1{
	width: 100%;
	background-color:@gray;
}
.more_img{
	padding-top:50px;
	padding-bottom:50px;
	 border:none;
	background-color:@gray;
	 font-size: 12px;
	 .mont();
}


.process{
	width: 100%;
	background-color:@white;
padding-bottom: 40px;
	&_txt{
		padding-top:100px;
		text-align: center;
		font-size: 30px;
}
	p{
		margin: 45px 0px 50px 0px;
		text-align: center;
		font-size: 16px;
	}
}
.video{
	margin-bottom: 100px;
	text-align: center;
}

// .slider{
// 	width: 100%;
// }

span{
	.nunito();
	color:@gray_text;
}

.services{
padding-bottom: 70px;
text-align: center;
background-color:@gray;

	&_img{
		margin-top: 80px;
		margin-bottom: 30px;
		&_txt{
		// margin-bottom: 50px;
font-size: 14px;
text-align: center;
		}
	}
}

.logo{
	display:flex;
	justify-content:space-between;
	margin-top:80px;
 padding-bottom: 80px;
}
.box{
	width: 100%;
	height: 900px;
	background-color:@gray;
}
.form_com{
	padding-top:40px;
	padding-bottom:40px;
	text-align: center;
	font-size: 14px;
	color: @black;
	.nunito();
}
form{
	text-align: center;
}
.input_form{
	margin-left: 30px;
	margin-bottom: 30px;
	width: 320px;
	height: 50px;

	&_form{
		width: 675px;
			height: 50px;
			margin-left: 30px;
			&_comments{
				margin-top: 30px;
				margin-left: 30px;
				width: 675px;
				height: 175px;
				
			}
	}
}
.btn_two{
		margin-top: 45px;
		margin-left: 260px;
	padding: 15px 40px;
	background-color: @blue;
	color: @white;
	border: none;
	font-size: 14px;

}

@media (max-width: 575.98px){

	.box{
	width: 100%;
	height: 600px;
}

.form_com{
	padding: 10px 0px 30px 10px;
	font-size: 12px;
}

.process_txt{
font-size: 18px;
}
	form{
	text-align: center;
}
	.input_form{
	width: 150px;
	height: 30px;

	&_form{
		width: 330px;
			height: 30px;
			margin-left: 30px;
			&_comments{
				margin-top: 30px;
				margin-left: 30px;
				width: 330px;
				height: 100px;
				
			}
	}
}
.btn_two{
		margin-top: 45px;
		margin-left: 170px;
		text-align: center;
	padding: 10px 20px;
	font-size: 10px;

}
}

